.todo-app {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 11px 15px -1px rgba(255,255,255,0.1);
    font-family: 'Poppins', sans-serif;
}

.todo-title {
    
    font-size: 2rem;
}

.input-field {
    font-size: 1.5rem;
    width: 80%;
}

.todo-div {
    display: flex;
    align-items: center;
}

.delete-todo {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(204, 204, 204);
    color: black;
    border: none;
    margin-left: 0.5rem;
    width: 1.5rem;
    border-radius: 10%;
    transition: 250ms;
    
}

.delete-todo:hover {
    box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(240,255,240,0);
    transform: translateY(-3px);
    cursor: pointer;
    background-color: white;
}

.paragraph-styling {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.add-todo {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(204, 204, 204);
    color: black;
    border: none;
    height: 2rem;
    width: 2rem;
    transition: 250ms;
}

.add-todo:hover {
    box-shadow: 0px 10px 13px -7px #ffffff, 5px 5px 15px 5px rgba(240,255,240,0);
    transform: translateY(-1px);
    cursor: pointer;
    background-color: white;
}

.app-title {
    font-size: 2rem;
}